<div class="panel panel-warning">
    <div class="panel-heading">
        Заявление об ограничении ответственности
    </div>
    <div class="panel-body">
        Сайт gia-api.devmem.ru не связан с РЦОИ города Москвы
        и разработан частным лицом,
        заинтересованным в удобном представлении информации.
        Данные получены в автоматическом режиме
        из общедоступных файлов эксель, размещенных на
        <a href="http://rcoi.mcko.ru/organizers/schedule/ege/">
            официальном сайте РЦОИ в разделе Организаторам > Планирование
        </a>.
        Сайт носит справочный характер и не может являться
        основным источником информации о распределении работников на ППЭ.
        Автор не несет ответственности за неявку работников на ППЭ.
        Автор не несет ответственности за достоверность,
        полноту и качество представленной информации.
    </div>
</div>