{% extends "base.html" %}
{% load rename %}
{% block description %}График работы (расписание экзаменов) для работника ППЭ {{ object.name }}, {{ object.org.name }}.{% endblock %}
{% block title %}{{ object.name }}, {{ object.org.name }}, работник ППЭ{% endblock %}
{% block page_header %}
    <h1>{{ object.name }}<br/>
        <small><a href="{{ object.org.get_absolute_url }}">{{ object.org.name }}</a></small>
    </h1>
{% endblock %}
{% block content %}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Дата экзамена</th>
            <th>Адрес ППЭ</th>
            <th>Наименование ППЭ</th>
            <th>Должность в ППЭ</th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                {% now "Y-m-d" as todays_date %}
                {% if todays_date > exam.date.date|date:"Y-m-d" %}
                    <td>&#10004;</td>
                    <td class="text-muted">{{ exam.date.date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a class="text-muted" href="https://yandex.ru/maps/?text={{ exam.place.addr }}"
                           target="_blank"
                           rel="noopener noreferrer"
                           title="Открыть карту">{{ exam.place.addr }}</a></td>
                    <td class="text-muted">{{ exam.place.name }}</td>
                    <td class="text-muted">{{ exam.position }}</td>
                {% else %}
                    <td></td>
                    <td>{{ exam.date.date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a href="https://yandex.ru/maps/?text={{ exam.place.addr }}"
                           target="_blank"
                           rel="noopener noreferrer"
                           title="Открыть карту">{{ exam.place.addr }}</a></td>
                    <td>{{ exam.place.name }}</td>
                    <td>{{ exam.position }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
