{% extends 'base.html' %}
{% load bootstrap3 %}
{% block description %}Список организаторов ППЭ, задействованных при проведении ЕГЭ и ОГЭ. Удобный поиск информации о распределении сотрудников образовательных организаций в ППЭ (пункты проведения экзаменов).{% endblock %}
{% block title %}Список организаторов ППЭ, задействованных при проведении ЕГЭ и ОГЭ{% endblock %}
{% block page_header_div %}{% endblock %}
{% block content %}
    <div class="jumbotron">
    <h1>Список организаторов ППЭ</h1>
      <p>
        Данные с сайта <a href='http://rcoi.mcko.ru'>РЦОИ города Москвы</a> о
        распределении сотрудников образовательных организаций
        в пункты проведения экзаменов ЕГЭ и ОГЭ во время основного (май-июль)
        и дополнительного периодов (сентябрь)
        экзаменационной кампании 2018/2019 учебного года.
        Список организаторов, задействованных на ЕГЭ и ОГЭ.
      </p>
    <p>
        <a href="{% url 'rcoi:exam' %}" type="button" class="btn btn-primary">
            Перейти к поиску
        </a>
    </p>
    </div>
{% endblock %}
