{% extends 'base.html' %}
{% load bootstrap3 %}
{% block description %}Удобный поиск информации о распределении сотрудников образовательных организаций в пункты проведения экзаменов ЕГЭ и ОГЭ{% endblock %}
{% block title %}Список работников ППЭ, задействованных при проведении ЕГЭ и ОГЭ{% endblock %}
{% block page_header_div %}{% endblock %}
{% block content %}
    <div class="jumbotron">
    <h1>База сотрудников ППЭ</h1>
      <p>
        Данные с сайта <a href='http://rcoi.mcko.ru'>РЦОИ города Москвы</a> о
        распределении сотрудников образовательных организаций
        в пункты проведения экзаменов ЕГЭ и ОГЭ во время основного (май-июль)
        и дополнительного периодов (сентябрь)
        экзаменационной кампании 2017/2018 учебного года.
      </p>
    <p>
        <a href="{% url 'rcoi:exam' %}" type="button" class="btn btn-primary">
            Перейти к поиску
        </a>
    </p>
    </div>
{% endblock %}
