{% extends "base.html" %}
{% load rename %}
{% block page_header %}
    <h1>{% block title %}{{ object.name|rename_org }}{% endblock %}<br /><small>Работники ППЭ от организации</small></h1>
{% endblock %}
{% block content %}
<table class="table table-condensed table-hover">
    <thead>
      <tr>
          <th></th>
        <th>Количество рабочих дней</th>
      </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <td><a href="{{employee.get_absolute_url}}">{{ employee.name }}</a></td>
        <td>{{ employee.num_exams }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}