{% extends "base.html" %}
{% load rename %}
{% block description %}Сотрудники и учителя {{ object.name }}, заявлянные на ЕГЭ и ОГЭ как работники пунктов проведения экзаменов: организаторы аудитории, технические специалисты, руководители ППЭ, члены ГЭК{% endblock %}
{% block title %}{{ object.name }} | Работники ППЭ от организации{% endblock %}
{% block page_header %}
    <h1>{{ object.name }}<br/>
        <small>Работники ППЭ от организации</small>
    </h1>
{% endblock %}
{% block content %}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Количество экзаменов</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ employee.get_absolute_url }}">{{ employee.name }}</a></td>
                <td>{{ employee.num_exams }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
