DJANGO_DEBUG=True
DJANGO_DEBUG_TOOLBAR=True
DJANGO_LOG_LEVEL=DEBUG
DJANGO_SETTINGS_MODULE=config.settings.local

DJANGO_DATABASE_URL=postgresql://gia:gia@postgres-local:5432/gia
DJANGO_CACHE_URL=redis://redis-local:6379/1

POSTGRES_HOST=postgres-local
POSTGRES_USER=gia
POSTGRES_PASSWORD=gia

USE_DOCKER=yes

TZ=Europe/Moscow

PYTHONWARNINGS=always
PYTHONPATH=${PYTHONPATH}:/app/gia-api

IPYTHONDIR=/app/.ipython

OTEL_TRACING_ENABLED=False
