DJANGO_DEBUG=True
DJANGO_LOG_LEVEL=DEBUG
DJANGO_SETTINGS_MODULE=config.settings.local

DJANGO_EMAIL_HOST_USER=noreply@example.com
DJANGO_EMAIL_HOST_PASSWORD=noreplyUserPassword

DATABASE_URL=postgres://gia:gia@postgres-dev:5432/gia

POSTGRES_HOST=postgres-dev
POSTGRES_USER=gia
POSTGRES_PASSWORD=gia

USE_DOCKER=yes
