DJANGO_DEBUG=True
DJANGO_LOG_LEVEL=DEBUG
DJANGO_SETTINGS_MODULE=config.settings.staging

DJANGO_EMAIL_HOST=smtp.gmail.com
DJANGO_EMAIL_HOST_USER=noreply@example.com
DJANGO_EMAIL_HOST_PASSWORD=noreplyUserPassword

DJANGO_ADMIN_NAME=admin
DJANGO_ADMIN_MAIL=admin@example.com

DJANGO_DATABASE_URL=postgresql://gia:gia@postgres-staging:5432/gia
DJANGO_CACHE_URL=redis://redis-staging:6379/1

POSTGRES_HOST=postgres-staging
POSTGRES_USER=gia
POSTGRES_PASSWORD=gia

USE_DOCKER=yes

TZ=Europe/Moscow

PYTHONWARNINGS=always
PYTHONPATH=${PYTHONPATH}:/app/gia-api

PROMETHEUS_MULTIPROC_DIR=/tmp
