.dpad {
    margin: 15px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.btn {
    margin-top: 3px;
    margin-bottom: 3px;
}

.page-header {
    margin: 0 0 26px;
}

/* Collapsable filter panel */

#row-main {
    overflow-x: hidden;
}

#content {
    transition: width 0.3s ease;
}

#sidebar {
    transition: margin 0.3s ease;
}

.collapsed {
    display: none;
}

@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-left: -25%;
    }
}


/* Django-tables2 bootstrap */

.table th.asc:after {
    content: '\0000a0\0025b2';
}

.table th.desc:after {
    content: '\0000a0\0025bc';
}

.pagination {
    text-align: center;
}

.tdbold {
    font-weight: bold;
}

.table tbody>tr>td {
    vertical-align: middle;
}
