{% extends 'base.html' %}
{% load bootstrap3 %}
{% block description %}Список организаторов ППЭ Москвы, задействованных при проведении ЕГЭ и ОГЭ. Удобный поиск информации о распределении сотрудников образовательных организаций в ППЭ (пункты проведения экзаменов).{% endblock %}
{% block title %}Список организаторов ЕГЭ 2021 в Москве на ППЭ, задействованных при проведении ЕГЭ и ОГЭ{% endblock %}
{% block page_header_div %}{% endblock %}
{% block content %}
    <div class="jumbotron">
    <h1>Список организаторов ППЭ</h1>
      <p>
        Данные с сайта <a href='http://rcoi.mcko.ru'>РЦОИ города Москвы</a> о
        распределении сотрудников образовательных организаций
        в пункты проведения экзаменов ЕГЭ и ОГЭ во время
        экзаменационной кампании 2020/2021 учебного года, а также апробаций и тренеровочных мероприятий.
        Список организаторов, задействованных на ГИА. Назначение работников на ППЭ.
      </p>
    <p>
        <a href="{% url 'rcoi:exam' %}" role="button" class="btn btn-primary">
            Перейти к поиску
        </a>
    </p>
    </div>
{% endblock %}
