{% extends "rcoi/exam.html" %}
{% block description %}Организаторы ППЭ {{ place.code }} {{ place.name }} задействованность{% endblock %}
{% block title %}ППЭ {{ place.code }} {{ place.name }} задействованность руководитель организаторы{% endblock %}
{% block page_header %}
    <h1>ППЭ {{ place.code }} ({{ place.name }})<br/>
        <small>
            <a
                href="https://yandex.ru/maps/?text={{ place.addr|urlencode }}"
                target="_blank"
                rel="noopener noreferrer"
                title="Открыть карту">
                <span class="glyphicon glyphicon-map-marker"></span> {{ place.addr }}
            </a>
        </small>
    </h1>
    <hr />
    <p>Список организаторов, распределенных в данный пункт проведения экзаменов</p>
{% endblock %}
