{% extends "rcoi/exam.html" %}
{% block description %}Организаторы ППЭ {{ place.code }} {{ place.name }} задействованность{% endblock %}
{% block title %}ППЭ {{ place.code }} {{ place.name }} задействованность руководитель организаторы{% endblock %}
{% block page_header %}
    <h1>
        <small>
            <a
                href="https://yandex.ru/maps/?text={{ place.addr|urlencode }}"
                target="_blank"
                rel="noopener noreferrer"
                title="Открыть карту">
                <span class="glyphicon glyphicon-map-marker"></span> {{ place.addr }}
            </a>
        </small>
        <br/>
        ППЭ {{ place.code }} ({{ place.name }})
    </h1>
{% endblock %}
