{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}
{% block bootstrap3_extra_head %}
{% load staticfiles %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}
        {% block nav %}{% include 'rcoi/nav.html' %}{% endblock %}
        {% bootstrap_messages %}
    <div class="dpad container-fluid">
        <div class="page-header text-center">{% block page_header %}1{% endblock %}</div>
        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}

{% block bootstrap3_extra_script %}
{#    <script src="{% static 'js/filter.js' %}"></script>#}
{% endblock %}
