.dpad {
    margin: 15px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.page-header {
    margin: 0 0 26px;
}


/* Django-tables2 bootstrap */

.table th.asc:after {
    content: '\0000a0\0025b2';
}

.table th.desc:after {
    content: '\0000a0\0025bc';
}

.pagination {
    text-align: center;
}

.tdbold {
    font-weight: bold;
}

.table tbody>tr>td {
    vertical-align: middle;
}
